@use 'nhsuk-frontend/packages/core/settings/colours' as nhsuk;

.notify-cognito-sign-in-form {
  [data-amplify-authenticator] {
    [data-amplify-container] {
      font-family: 'Frutiger W01', 'Arial', sans-serif;
      place-self: auto;

      .amplify-label {
        color: nhsuk.$nhsuk-text-color;
      }

      .amplify-button.amplify-button--primary {
        background-color: nhsuk.$color_nhsuk-blue;
      }

      .amplify-button.amplify-button--link {
        color: nhsuk.$nhsuk-link-color;
      }

      [data-amplify-router] {
        border-color: nhsuk.$nhsuk-border-color;
        box-shadow: none;
      }
    }
  }
}
