@use 'nhsuk-frontend/packages/core/settings/colours-applied' as nhsuk_applied;

.notify-cognito-sign-in-form {
  [data-amplify-authenticator] {
    [data-amplify-container] {
      font-family: 'Frutiger W01', 'Arial', sans-serif;
      place-self: auto;

      .amplify-label {
        color: nhsuk_applied.$nhsuk-text-colour;
      }

      .amplify-button.amplify-button--primary {
        background-color: nhsuk_applied.$nhsuk-button-colour;
      }

      .amplify-button.amplify-button--link {
        color: nhsuk_applied.$nhsuk-link-colour;
      }

      [data-amplify-router] {
        border-color: nhsuk_applied.$nhsuk-border-colour;
        box-shadow: none;
      }
    }
  }
}
