@use 'nhsuk-frontend/packages/nhsuk.scss' as nhsuk;

// CCM-9916 - Override @font-face rules from nhsuk-frontend to reference self-hosted fonts
@font-face {
  font-display: swap;
  font-family: Frutiger W01;
  font-style: normal;
  font-weight: 400;
  src: url(/auth/lib/assets/fonts/FrutigerLTW01-55Roman.eot);
  src:
    url(/auth/lib/assets/fonts/FrutigerLTW01-55Roman.eot) format('eot'),
    url(/auth/lib/assets/fonts/FrutigerLTW01-55Roman.woff2) format('woff2'),
    url(/auth/lib/assets/fonts/FrutigerLTW01-55Roman.woff) format('woff'),
    url(/auth/lib/assets/fonts/FrutigerLTW01-55Roman.ttf) format('truetype'),
    url(/auth/lib/assets/fonts/FrutigerLTW01-55Roman.svg) format('svg');
}

@font-face {
  font-display: swap;
  font-family: Frutiger W01;
  font-style: normal;
  font-weight: 600;
  src: url(/auth/lib/assets/fonts/FrutigerLTW01-65Bold.eot);
  src:
    url(/auth/lib/assets/fonts/FrutigerLTW01-65Bold.eot) format('eot'),
    url(/auth/lib/assets/fonts/FrutigerLTW01-65Bold.woff2) format('woff2'),
    url(/auth/lib/assets/fonts/FrutigerLTW01-65Bold.woff) format('woff'),
    url(/auth/lib/assets/fonts/FrutigerLTW01-65Bold.ttf) format('truetype'),
    url(/auth/lib/assets/fonts/FrutigerLTW01-65Bold.svg) format('svg');
}

.notify-content {
  background-color: nhsuk.$color_nhsuk-white;
  border: 1px solid nhsuk.$nhsuk-border-color;
}

.notify-cis2-button {
  width: 374.38px;
  height: 59px;
  margin: 0;
  margin-bottom: 16px;
  border: none;
  background-color: nhsuk.$color_nhsuk-blue;
  box-shadow: 0 4px 0 nhsuk.nhsuk-colour("dark-blue");
  padding: 0;
  display: flex;
  align-items: center;

  &:hover {
    background-color: nhsuk.$nhsuk-login-button-hover-colour;
  }
}

.nhsuk-header__service-logo:has(svg):not(:focus):hover::before {
  content: none;
  border: none; // remove the pseudo underline on the logo
}
