// Totally custom here.

//@import "../node_modules/nhsuk-frontend/packages/core/all";
//@import "../node_modules/nhsuk-frontend/packages/components/do-dont-list/_do-dont-list";
//@import "sass-mq.scss";

// Need to look at problem with mq.
// $mq-breakpoints: (
//   xs: 0px,
//   sm: 0px,
//   md: 0px,
//   lg: 0px,
//   xl: 0px,
// );

.nav-category {
  text-transform: none;
  color: $grey-dk-300;
  @include fs-4;
  font-weight: 600;
}

.main-content {
  ul > {
    li::before {
      color: $grey-dk-300;
    }
  }
}
.site-title {
  font-weight: 600;
  font-size: 1.2rem !important;
}

.nav-list {
  .nav-list-item {
    @include fs-4;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
  }
}

body {
  color: $grey-dk-300;
  font-size: 1.2rem !important;
  //line-height: 28px;
  //@include fs-5;
}

@media (min-width: 31.25rem) {
  h1,
  .text-alpha {
    font-size: 3rem !important;
    font-weight: 600;
  }
}

@media (min-width: 31.25rem) {
  h2,
  .text-alpha {
    font-size: 2rem !important;
    font-weight: 600;
  }
}

@media (min-width: 31.25rem) {
  h3,
  .text-alpha {
    font-size: 1.5rem !important;
    font-weight: 600;
  }
}

.table-wrapper {
  display: inline-block;
  width: unset;
  }

  th, td {
    min-width: 1%;
    }



