@import '../../node_modules/nhsuk-frontend/packages/nhsuk.scss';

code {
  display: inline-block;
  padding: 0.6rem;
  background-color: $nhsuk-border-color;
}

.notify-content {
  background-color: $color_nhsuk-white;
  border: 1px solid $nhsuk-border-color;
}
