@use 'node_modules/nhsuk-frontend/packages/core/settings/colours' as nhsuk;

.auth-link {
  &__link {
    color: nhsuk.$color_nhsuk-white;
    padding: 1em;

    &:visited {
      color: nhsuk.$color_nhsuk-white;
    }
  }
}
