name: PR Merged

on:
  workflow_dispatch:
  pull_request:
    types: [closed]
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  deploy-main:
    name: Deploy changes to main in dev AWS account

    permissions:
      id-token: write
      contents: read

    strategy:
      max-parallel: 1
      matrix:
        component: [acct, app]

    uses: ./.github/workflows/reusable_internal_repo_build.yaml
    secrets: inherit
    with:
      releaseVersion: main
      targetWorkflow: "dispatch-deploy-static-notify-iam-env.yaml"
      targetEnvironment: "main"
      targetAccountGroup: "nhs-notify-iam-dev"
      targetComponent: ${{ matrix.component }}
      terraformAction: "apply"
